*{
    box-sizing: border-box;
}
html {
    max-width: 1900px;
    margin: 0 auto;
}
body{
    margin: 0 auto;
}
button {
    border: 0; 
    background-color: none;
}

/* -------- header -------- */

header {
    margin: 0 auto;
    position: relative;
}

header nav {
    position: relative;
    margin: 0 auto;
}

header .logo {
    width: 9.438rem;
    margin: 10px auto;
}

header .logo img {
    width: 100%;
    padding: 5px;
    max-width: 200px;
} 

header .search {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
}

header .search #web-input {
    display: none;
}

header .search .pop-up-input {
    display: none;
    width: 190px;
    height: 30px;
    border: solid 1px #313538;
    position: fixed; 
    right: 0;
    top: 55px;
}

header .search #pop-up-input {
    display: block;
}


header .search img {
    width: 100%;
}

header ul {
    padding: 20px 0;
    display: flex;
    background-color: #313538;
    margin: 0 auto;
}

header li {
    text-align: center;
    line-height: normal;
    padding: 0 5px;
    font-size: 14px;
    font-family: PingFangTC;
    margin: 0 auto;
}

header li a {
    color: #828282;
    letter-spacing: 3px;
} 

header .icon,
header .bag,
header .member {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #f5f5f5;
    font-family: PingFangTC;
    font-size: 14px;
}

header .bag {
    position: relative;
}

header .icon {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #313538;
    margin: 0 auto;
}

header .icon .bag #cart-number-icon {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #8b572a;
    opacity: 0.8;
    position: absolute;
    bottom: 3px;
    left: 20px;
    text-align: center;
    line-height: 1.6;
}

.line{
    width: 0.5px;
    line-height: normal;
    background-color: #f5f5f5;
    margin: 0;
}



/* -------- header hover -------- */

#search2 {
    display: none;
} 

#cart2 {
    display: none;
}

.bag:hover #cart1 {
    display: none;
}
.bag:hover #cart2 {
    display: block;
}

#member2 {
    display: none;
}

.member:hover #member1 {
    display: none;
}
.member:hover #member2 {
    display: block;
}

#cart-for-web,
#member-for-web {
    display: none;
}

header li a:hover {
    color: #f5f5f5;
}

/* -------- section -------- */

section .product-pic img {
    width: 100%;
}
section .index {
    padding: 20px 35px 0 35px;
}
section .main-index .name{
    font-size: 20px;
    color: #3f3a3a;
    letter-spacing: 4px;
    padding-bottom: 8px;
} 
section .main-index .number {
    letter-spacing: 3.2px;
    color: #bababa;
    padding-bottom: 8px;
}

section .main-index .price{
    font-size: 20px;
    color: #3f3a3a;
    border-bottom: solid 1px #3f3a3a;
    line-height: 2.5;
    letter-spacing: 2.5px;
}

section .selector .color,
section .selector .size {
    display: flex;
    padding: 20px 0;
    align-items: center;
}
section .selector .color .text,
section .selector .size .text {
    font-size: 16px;
    letter-spacing: 2.8px;
    color: #3f3a3a;    
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid 1.5px #979A9A ;
    line-height: 1;
}

section .selector .color .icons,
section .selector .size .icons {
    display: flex;
    align-items: center;
}

section .selector .color .icon {
    width: 28px;
    height: 28px;
    margin: 0 15px 0 15px;
    border: solid 4px #ffffff;
    outline: solid 0.5px #ececec;
}

section .selector .size .icon {
    width: 35px;
    height: 35px;
    background-color: #ececec;
    border-radius: 50px;
    margin: 0 8px 0 15px;
    text-align: center;
    color: #3f3a3a;
    font-size: 16px;
    line-height: 35px;
}


section .choose-number {
    display: flex;
    justify-content: space-evenly;
    border: solid 1px #979797;
    margin: 15px 0;
}

section .choose-number button {
    background-color: #ffffff;
}

section .choose-number p {
    color: #8b572a;
}

section .add-cart button {
    width: 100%;
    background-color: #000000;
    color: #E5E7E9 ;
    line-height: 1.88;
    letter-spacing: 3.2px;
    padding: 8px 0;
    margin-bottom: 20px;
}

section .sub-index {
    line-height: 1.71;
    color: #3f3a3a;
}

section .detail{
    padding: 20px 35px 0 35px;
}

section .detail .title{
    color: #8b572a;
    font-size: 1rem;
    line-height: 1.88;
    display: inline-block;
    margin: 20px 0;
    letter-spacing: 3.2px;
}

section .detail .decoration-line {
    display: inline-block;
    width: 200px;
    height: 1px;
    background-color: #3f3a3a;
    vertical-align: middle;
    margin-left: 20px;
}

section .detail p{
    margin-bottom: 20px;
    font-size: 0.875rem;
    line-height: 1.71;
    color: #3f3a3a;
}

section .detail img{
    margin-bottom: 20px;
    width: 100%;
}

/* -------- footer -------- */

footer {
    background-color: #313538;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

footer .container {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin: 10px 50px;
}

footer .container .item {
    flex: 1;
    text-align: center;
}

footer .text {
    display: flex;
    flex-direction: column;
}

footer .text a {
    padding: 9px 0 ;
    font-family: PingFangTC;
    font-size: 0.875rem;
    color: #f5f5f5;
}

footer .logo {
    padding-top: 20px;
}

footer .logo img {
    padding: 0 5px;
    width: 35px;
}

footer .copyright {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    font-family: PingFangTC;
    color: #828282;
}

/* -------- RWD -------- */

@media (min-width: 750px) {

    /* header */

    header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-content: start;
        padding-right: 350px;
    }
    header .logo {
        margin: 0;
        padding: 0 10px;
        margin-left: 10px;
        width: 200px;
    }
    header ul {
        order: 1;
        background-color: transparent;
        margin: 0;
        width: 280px;
        justify-content: center;
    }

    header li {
        margin: 0;
        padding: 5px 14px 5px 17px;
        text-align: center;
    }

    header li a{
        color: #3f3a3a;
        letter-spacing: 10px;
        text-align: center;
        margin: 0 auto;
    }

    header li a:hover {
        color: #7c6840;
    }

    header ul .line {
        background-color: #3f3a3a;
    }

    header .search {
        order: 2;
        position: static;
        width: fit-content;
        height: fit-content;
        padding: 5px 6px;
        border: solid 1px #979797;
        border-radius: 20px;
        display: flex;
        position: absolute;
        right: 170px;
        top: 16px;
    }
    
    header .search a {
        height: 30px;
    }
    header .search img {
        width: 30px;
        height: 30px;
    }

    header .search #pop-up-input {
        display: none;
    }

    header .search #web-input {
        display: inline;
        border: none;
        font-size:14px;
    }

    header .icon {
        order: 3;
        position: absolute;
        right: 0;
        top: 4px;
        background-color: transparent;
        width: 150px;
        margin: 0 10px;
    }
    header .icon a {
        padding: 0 15px;
        margin: 0;
    }
    header .icon .line,
    header .icon p {
        display: none;
    }

    .search:hover #search1{
        display: none;
    }
    .search:hover #search2{
        display: block;
    }

    #cart1,
    #member1 {
        display: none;
    }

    #cart-for-web,
    #member-for-web {
        display: inline-block;
    }

    .bag:hover #cart-for-web {
        display: none;
    }
    .bag:hover #cart2 {
        display: block;
    }

    .member:hover #member-for-web {
        display: none;
    }
    .member:hover #member2 {
        display: block;
    }

    
    header .black-bar{
        background-color: #313538;
        width: 100%;
        height: 20px;
    }

    /* -------- section -------- */

    section {
        margin: 0 auto;
    }
    section .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 900px;
        margin: 20px auto;
    }
    section .product-pic{
        width: 50%;
        padding-top: 20px;

    }

    section .detail img {
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    section .detail .decoration-line {
        width: 600px; 
    }

    /* -------- footer -------- */

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    footer .text {
        flex-direction: row;
        margin: auto 0;
    }
    footer .text a {
        padding: 5px 5px;
        font-size: 12px;
        width: 80px;
    }
    footer .logo{
        display: flex;
        justify-content: center;
        padding: 0;
        padding-right: 10px;
    }
    footer .container{
        margin-right: 0 ;
    }
    footer .copyright{
        margin-left: 0;
    }
}
